body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    line-height: 1.5;

    background-color: #000000;
    color: #FFFFFF;

    .Normal { color: #FFFFFF; /* White */ }
    .Comment { color: #C0C0C0; /* Silver */ }
    .Constant { color: #00FFFF; /* Aqua */ }
    .Type { color: #00FF87; /* Spring Green */ }
    .Statement { color: #87D7FF; /* Sky Blue */ }
    .Identifier { color: #FFD7FF; /* Thistle */ }
}

.light-mode {
    background-color: #FFFFFF;
    color: #000000;

    .Normal { color: #000000; /* Black */ }
    .Comment { color: #708090; /* Slate Gray */ }
    .Constant { color: #BC8F8F; /* Rosy Brown */ }
    .Type { color: #5F9EA0; /* Cadet Blue */ }
    .Statement { color: #4682B4; /* Steel Blue */ }
    .Identifier { color: #DC143C; /* Crimson */ }
}

.btn {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.btn-light {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: 5px 5px 0px 3px;
    margin: 0px;
    font-size: medium;
    font-weight: normal;
}

pre {
    margin: 25px 40px 0px 40px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #808080; /* Gray */
}
